{% extends 'base_generic.html' %}

{% block content %}
    <h1>PerguntAI</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="prompt">Pergunta:</label>
            <textarea id="prompt" name="prompt" class="form-control" rows="4"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>

    {% if response_text %}
        <h2>Resposta:</h2>
        <p>{{ response_text }}</p>
    {% endif %}
{% endblock %}
