/* Estilo para a tela de login */
::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #FF6002;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.resetPassword {
	text-align: right;
	margin-bottom: 20px;
}

.resetPassword a {
	text-decoration: none;
}

.footer {
	background-color: white;
}

.register {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
    /* Defina a largura conforme necessário */
}

.register2 {
    margin-left: initial;
}

.register label {
	color: gray;
}

.register a{
	text-decoration: none;
	color: #FF6002;
}


.login-form {
    background-color: #FFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


.img-fluid {
	max-width: 88.5%;
}

.border-login{
	/*definimos a largura do box*/
	width: 85%;
	/* definimos a cor de fundo do box */
	background-color:#FFFFFF;
	/* definimos o quão arredondado irá ficar nosso box */
	border-radius: 35px;
	/* Declaração para aparecer no Firefox */
	-moz-border-radius: 35px;
	/* Para exibir nos outros navegadores como Chrome, safari, opera*/
	-webkit-border-radius: 35px;
	padding-top: 50px;
	padding-left: 30px;
    padding-right: 30px;
	padding-bottom: 50px;
}

.border-login h1 {
	text-shadow: black;
}

.btn-custom {
    background-color: #FF6002 !important;
    border-color: #FF6002 !important;
    color: #fff !important; 
}

.btn-custom:hover {
    background-color: #e65500 !important;
    border-color: #e65500 !important;
}